<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/matches">Matches</a></li>
                <li class="breadcrumb-item active" aria-current="page">Job offer info</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
                <!-- Left column -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">

                            <div class="mt-3">
                                <h4>Company name</h4>
                                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                <button class="btn btn-outline-primary">Message</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-globe mr-2 icon-inline">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="2" y1="12" x2="22" y2="12"></line>
                                    <path
                                        d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                    </path>
                                </svg>Email</h6>
                            <span class="text-secondary">https://bootdey.com</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-instagram mr-2 icon-inline text-danger">
                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                </svg>Instagram</h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-facebook mr-2 icon-inline text-primary">
                                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                </svg>Facebook</h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                    </ul>
                </div>
            </div>
             <!-- Right column -->
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">
                                    Job title
                                </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Developer
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">
                                    Employment type
                                </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Full-time
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">
                                    Salary
                                </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                50000 / year
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">

                                <h6 class="mb-0">
                                    <!-- should find more svg icons-->
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-home feather-sm mr-1">
                                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                    </svg> -->
                                    Location
                                </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Bay Area, San Francisco, CA
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">
                                    Work culture
                                </h6>
                            </div>
                            <div class="card-body">
                                <a href="#" class="badge badge-primary mr-1 my-1">Fruits</a>
                                <a href="#" class="badge badge-primary mr-1 my-1">Drinks</a>
                                <a href="#" class="badge badge-primary mr-1 my-1">Home office</a>
                                <a href="#" class="badge badge-primary mr-1 my-1">Animal friendly</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">
                                    Hard skills
                                </h6>
                            </div>
                            <div class="card-body">
                                <a href="#" class="badge badge-primary mr-1 my-1">HTML</a>
                                <a href="#" class="badge badge-primary mr-1 my-1">JavaScript</a>
                                <a href="#" class="badge badge-primary mr-1 my-1">Sass</a>
                                <a href="#" class="badge badge-primary mr-1 my-1">Angular</a>
                                <a href="#" class="badge badge-primary mr-1 my-1">Vue</a>
                                <a href="#" class="badge badge-primary mr-1 my-1">React</a>
                                <a href="#" class="badge badge-primary mr-1 my-1">Redux</a>
                                <a href="#" class="badge badge-primary mr-1 my-1">UI</a>
                                <a href="#" class="badge badge-primary mr-1 my-1">UX</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">
                                    Soft skills
                                </h6>
                            </div>
                            <div class="card-body">
                                <a href="#" class="badge badge-primary mr-1 my-1">creative</a>
                                <a href="#" class="badge badge-primary mr-1 my-1">stress management</a>
                                <a href="#" class="badge badge-primary mr-1 my-1">team work</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm">
                    <div id="questionnaire">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">About the job</h6>
                                <h5 class="h6 card-title">Description</h5>
                                <p>We are looking for a full-time or part-time student intern to join our development team in Berlin at a well-funded, growing open-source startup to help us to continue to build exciting technology that makes our users happy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>