<div class="message-btn">
    <form action="/apply/<%= id %>" method="post">
        <textarea name="message"></textarea>
        <button type="submit" class="btn btn-outline-primary">I'm interested</button>
    </form>
</div>