<div id='footer'>

<nav class="footer navbar navbar-expand-lg navbar-dark bg-dark">

  <ul class="navbar-nav mb-auto">

    <li class="nav-item">
      <a class="nav-link" onclick=""> About Us </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" onclick="location.href='../candidates'"> FAQ </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" onclick=""> Help & Contact </a>
    </li>

  </ul>
</nav>

</div>
