<footer>

  <div class="row justify-content-between mx-3 mx-md-5">
    <p class="d-inline-block">IMI Project by HTW Students</p>
    
    <p class="d-inline-block copyright">
      <script>
        document.write('&copy; ' );
        document.write(new Date().getFullYear());
        document.write(' ReMatch-HTW ');
      </script>
    </p>
  </div>

</footer>
