<div id='header'>
    <p class ='headerItem' onclick="location.href='../candidates/new'">New User</p>
    <p class ='headerItem' onclick="location.href='../candidates'">All Users</p>
    <p class ='headerItem' onclick="location.href='../jobs/new'">New Job</p>
    <p class ='headerItem' onclick="location.href='../jobs'">All Jobs</p>
</div>