<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>All candidates</title>
</head>

<body class="body">
    <h1>All candidates</h1>
    </div>
    <div>
        <% candidates.forEach(candidate => { %>
        <%= candidate.fullName %>
        <%= candidate.email %>
        <% }); %>
    </div>
</body>

</html>