<form action="/subscribe" method="post">
  <label for="firstname">First name: </label>
  <input type="text" placeholder="First Name" name="firstname">
  <label for="lastname" >Last name: </label>
  <input type="text" placeholder="Last Name" name="lastname">
  <label for="email">Email</label>
  <input type="email" placeholder="Email" name="email">
  <input type="submit" value="Submit">
</form>
