<div id="landing-page">
  <section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Title -->

      <div class="row">

        <div class="col-lg-7">
          <h1 class="big-heading"> MORE THAN A MATCH </h1>
          <h2 class="h5 text-primary"> We're matchmaker. We help people find their dream job, their perfect team members and so much more ! </h2>
          <div >
            <h3 class="m-4">Get Match NOW</h3>
            <i class="far fa-hand-point-down fa-3x pointing-icon"></i>

          </div>
          <a class="btn btn-outline-light btn-lg download-button" href="/signup/candidate"><i class="fas fa-suitcase"></i> I'm a developer</a>
          <a class="btn btn-outline-light btn-lg download-button" href="/signup/recruiter"><i class="fas fa-handshake"></i> I'm an employer </a>
        </div>

        <div class="col-lg-5">
          <img class="title-image" src="/images/logo2.png" alt="match_logo">
        </div>

      </div>

    </div>

  </section>


  <!-- Features -->

  <section class="white-section" id="features">

    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon far fa-thumbs-up fa-4x"></i>
          <h3 class="feature-title"> Easy to use</h3>
          <p> 3 steps to set up your profile, show people your talents and get your perfect matches!</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-fast-forward fa-4x"></i>
          <h3 class="feature-title"> Fast but not furious</h3>
          <p> The full automation of the technology accomplishes perfect results delivery in millisecond </p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Guaranteed to work</h3>
          <p> We grarantee to bring you more than just a dream job. We will find a perfect team for you</p>
        </div>
      </div>


    </div>
  </section>

  <!-- Steps -->
  
  <section class="white-section" id="steps">

    <h2 class="section-heading"> 3 STEPS to success</h2>
    <p>Grab your favorite drink, relax and then get started with 3 simple steps</p>

    <div class="row steps">

      <div class="step-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>STEP 1</h3>
          </div>
          <div class="card-body">
            <h4 class="step-text"> Sign Up </h4>
            <p>Set up your profile in 5 minutes</p>
            <p>Tell us about your talents</p>
            <p>Or tell us about the job you're offering</p>

          </div>
        </div>
      </div>

      <div class="step-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>STEP 2</h3>
          </div>
          <div class="card-body">
            <h4 class="step-text">Get Matches</h4>
            <p>Share with us more about your wishes</p>
            <p>View your perfect matches</p>
            <p>Swipe right to get match </p>

          </div>
        </div>
      </div>

      <div class="step-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>STEP 3</h3>
          </div>
          <div class="card-body">
            <h4 class="step-text">Contact</h4>
            <p>Get to know your recruiter by email</p>
            <p>Get an interview</p>
            <p>Enjoy your time working together!</p>

          </div>
        </div>
      </div>
    </div>

  </section>


  <!-- Call to Action -->

  <section class="colored-section" id="cta">

    <div class="container-fluid">

      <h4 class="big-heading">Find Your Perfect Match Today !!!</h4>
      <a class="btn btn-outline-light btn-lg download-button" href = "/signup/candidate"><i class="fas fa-suitcase"></i> Get your dream job NOW</a>
      <a class="btn btn-outline-light btn-lg download-button" href = "/signup/recruiter"><i class="fas fa-handshake"></i> Hire a great developer NOW</a>
    </div>
  </section>
</div>
