<div id="landing-page">
  <!-- Title -->
  <section class="colored-section" id="title">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7">
          <h3 class="big-heading">AI based, unbiased candidate matches with companies looking for diverse talent </h3>
          <h3 class="my-5 text-primary big-text">Try us out!</h3>
          <a class="btn btn-outline-light btn-lg download-button" href = "/signup/candidate"><i class="fas fa-suitcase"></i> Get your dream job</a>
          <a class="btn btn-outline-light btn-lg download-button" href = "/signup/recruiter"><i class="fas fa-handshake"></i> Hire a great talent</a>
        </div>
        <div class="col-lg-5">
          <img class="title-image" src="/images/logo2.png" alt="match_logo">
        </div>
      </div>
    </div>
  </section>


  <!-- Features -->

  <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon far fa-thumbs-up fa-4x"></i>
          <h3 class="feature-title">Easy to use</h3>
          <p>Just simple steps to set up your profile: show people your talents and get excellent matches!</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-fast-forward fa-4x"></i>
          <h3 class="feature-title">Fast but not furious</h3>
          <p>Our algorithm delivers immediate results.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">High compatibility</h3>
          <p>We bring you more than just a suitable job or employee. We will find a great cultural match for you.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Steps -->
  <hr class="divider">
  <section class="white-section" id="steps">
    <h2 class="section-heading"> 3 steps to success</h2>
    <p>Grab your favorite drink, relax and then get started with 3 simple steps</p>

    <div class="row steps">
      <div class="step-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Sign up</h3>
          </div>
          <div class="card-body">
            <p>Set up your profile in 5 minutes</p>
            <p>Tell us about your talents</p>
            <p>Or tell us about the job you're offering</p>
          </div>
        </div>
      </div>

      <div class="step-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Get matches</h3>
          </div>
          <div class="card-body">
            <p>View your top matches</p>
            <p>Our algorithm does all the work for you!</p>
            <p>You can come back at any time to check for new matches</p>
          </div>
        </div>
      </div>

      <div class="step-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Contact</h3>
          </div>
          <div class="card-body">
            <p>Get in touch with your match</p>
            <p>Schedule an interview</p>
            <p>Enjoy your time working together!</p>
          </div>
        </div>
      </div>
    </div>

  </section>


  <!-- Call to Action -->

  <section class="colored-section" id="cta">
    <div class="container-fluid">
      <p class="text-primary big-text">We not only match your technical skills with positions but we also provide a holistic view of your compatibility considering your soft skills and cultural fit with companies.</p>
      <h4 class="big-heading">Find your perfect match today!</h4>
      <a class="btn btn-outline-light btn-lg download-button" href = "/signup/candidate"><i class="fas fa-suitcase"></i> Get your dream job</a>
      <a class="btn btn-outline-light btn-lg download-button" href = "/signup/recruiter"><i class="fas fa-handshake"></i> Hire a great talent</a>
    </div>
  </section>
</div>
