<!DOCTYPE html>
<html lang="en" dir="ltr">

 <head>
   <title>ReMatch</title>


<!-- Internal calls didnt work!! :( -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" type= "image/png" sizes="32x32" href="/images/favicon-32x32.png">
<!-- !! -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->

 </head>

<body>
    <%- include ('./partials/header') %>
        <main> <%- body %> </main>
    <%- include ('./partials/footer') %>
</body>

</html>
