<head>  
    <link href="/stylesheets/basicStyles.css" rel="stylesheet" type="text/css">
    <%- include('./flash'); -%>
</head>

<body>
    
    <%- include ('./partials/header') %>
        <div id="body"> <%- body %> </div>
    <%- include ('./partials/footer') %>
</body>