<!DOCTYPE html>
 <html lang="en" dir="ltr">

 <head>
   <title>ReMatch</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">

   <%# Bootstrap style sheet %>
   <!-- <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <%# Font %>
   <link href="http://fonts.cdnfonts.com/css/abang" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@500&display=swap" rel="stylesheet">

   <%# Abang font for header item ReMatch %>
   <link href="http://fonts.cdnfonts.com/css/abang" rel="stylesheet">
   <!-- Font Awesome -->
   <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <%# our custom style sheets - link here to overwrite bootstrap %>
   <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="/stylesheets/indexPage.css">
   <!-- Bootstrap Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 </head>

 <body>
   <%- include ('./partials/header') %>
   <main class="container-fluid"> <%- body %> </main>
   <%- include ('./partials/footer') %>

 </body>

 </html>
