<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>ReMatch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">

    <%# Bootstrap style sheet %>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <%# Google Font %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
    <%# Abang font for header item ReMatch %>
    <link href="http://fonts.cdnfonts.com/css/abang" rel="stylesheet">

    <%# our custom style sheets - link here to overwrite bootstrap %>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css">

</head>

<body>
    <%- include ('./partials/header') %>
    <main class="container"> <%- body %> </main>
    <%- include ('./partials/footer') %>

    <%# bootstrap and jQuery scripts %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>