
<div class="jumbotron">
      <h1 class="display-4">AWESOME !</h1>
      <p class="lead">You've successfully singed up to REM, look forwards to new matches!</p>
      <p class="lead">Log in to your account <a href="/user/login">here</a>.</p>
      <hr class="my-4">

</div>
</form>

