<<<<<<< HEAD
<form action="/signup" method="post">
<div class="jumbotron">
      <h1 class="display-4">AWESOME !</h1>
      <p class="lead">You've successfully singed up to REM, look forwards to new matches!!!</p>
      <hr class="my-4">

</div>
</form>
=======
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>All candidates</title>
</head>

<body class="body">
    <div>
        <h1>Thank You!</h1>
        <p><strong>Please check your email</strong> for further instructions.</p>
        <hr>
        <p class="lead">
            <a href="/" role="button">Continue to homepage</a>
        </p>
    </div>
</body>

</html>
>>>>>>> josh_dev
