<form action="/candidates/create" method="post">

  <div class="container-fluid">
    <h2> Create your new profile </h2>
    <section class = "questions">
      <div> What is your full name? </div>
      <div>
        <input type="text" name="name">
      </div>
    </section>

    <section class = "questions">
      <div> Which city do you live in? </div>
      <div>
        <input type="text" name="current_location">
      </div>
    </section>

    <section class = "questions">
      <div> Where do you want to work? </div>
      <div>
        <input type="text" name="preferred_location">
      </div>
      <div> Are you willing to relocate?</div>
      <div>

        <select name="willing_to_relocate">
          <option value="yes">Yes</option>
          <option value="no">No</option>

        </select>

      </div>
    </section>

    <section class = "questions">
      <div> What is the job position you want to apply for? </div>
      <div>
        <input type="text" name="preferred_position">
      </div>
    </section>

    <section class = "questions">
      <div> What are your hard skills? </div>
      <div>
        <input type="text" name="hard_skills">
      </div>
    </section>

    <section class = "questions">
      <div> What are your soft skills? </div>
      <div>
        <input type="text" name="soft_skills">
      </div>
    </section>

    <section class = "questions">
      <div> What are your other strengths or your goals that you want to share with the recruiters? </div>
      <div>
        <input type="text" name="other_aspects">
      </div>
    </section>

    <section class = "questions">
      <div> What is important to you when you work in a team regarding working culture? </div>
      <div>
        <input type="text" name="work_culture_preferences">
      </div>
    </section>

    <section class = "questions">
      <div> What is your desired salary? </div>
      <div>
        <input type="text" name="work_culture_preferences">
      </div>
    </section>
  
    <div>
      <input type="submit" value="Submit">
    </div>


  </div>
</form>




<!--


  <label>Preferred position: </label>
  <input type="text" placeholder="Job you are looking for" name="preferred_position">
  <label>Soft skills: </label>
  <input type="text" placeholder="Soft skills" name="soft_skills">
  <label>Other aspects: </label>
  <input type="text" placeholder="Other aspects" name="other_aspects">
  <label>Work culture preferences</label>
  <input type="text" placeholder="Values, benefits..." name="work_culture_preferences">
  <input type="submit" value="Submit">
 -->
<!--Commented out because the function for adding candidate profile to User should be implemented.

  <label for="firstname">First name: </label>
  <input type="text" placeholder="First Name" name="firstname">
  <label for="lastname" >Last name: </label>
  <input type="text" placeholder="Last Name" name="lastname">
  <label for="email">Email</label>
  <input type="email" placeholder="Email" name="email">
  <input type="submit" value="Submit"> -->
