<form action="/signup/candidate" method="post">

    <div id="candidate_questions" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#candidate_questions" data-slide-to="0" class="active"></li>
        <li data-target="#candidate_questions" data-slide-to="1"></li>
        <li data-target="#candidate_questions" data-slide-to="2"></li>
        <li data-target="#candidate_questions" data-slide-to="3"></li>
        <li data-target="#candidate_questions" data-slide-to="4"></li>
        <li data-target="#candidate_questions" data-slide-to="5"></li>
        <li data-target="#candidate_questions" data-slide-to="6"></li>
        <li data-target="#candidate_questions" data-slide-to="7"></li>
        <li data-target="#candidate_questions" data-slide-to="8"></li>
        <li data-target="#candidate_questions" data-slide-to="9"></li>
      </ol>
      <div class="container-fluid" id="questionnaires">
      <div class="carousel-inner">

        <!-- 1. What is your full name? -->
        <div class="carousel-item active">
          <section class="questions">
            <div class="sentence">What is your full name?</div>
            <div class="d-flex">
              <input type="text" name="firstname" placeholder="First name" class="mr-2">
              <input type="text" name="lastname" placeholder="Last name" class="ml-2">
            </div>
          </section>
        </div>

        <!-- 2. Which city do you live in? -->
        <div class="carousel-item">
          <section class="questions">
            <div class="sentence">Which city do you live in?</div>
            <div>
              <input type="text" name="current_location" placeholder="...type here">
            </div>
          </section>
        </div>

        <!-- 3. Where do you want to work? -->
        <div class="carousel-item">
          <section class="questions">
            <div class="sentence">In which city or cities do you want to work?</div>
            <div class="tag-container">
              <select multiple class="inputanswer" id="input_preferred_location" type="text" name="preferred_location" placeholder="...type here" data-role="tagsinput"></select>
            </div>
          </section>
        </div>

        <!-- 4. What is the job position you want to apply for? -->
        <div class="carousel-item">
          <section class="questions">
            <div class="sentence">What is the job position you want to apply for?</div>
            <div>
              <input type="text" name="preferred_position" placeholder="...type here">
            </div>
          </section>
        </div>

        <!-- 5. What type of contract are you looking for? -->
        <div class="carousel-item">
          <section class="questions">
              <div class="sentence">What type of contract are you looking for?</div>
              <div>
                  <select name="job_type">
                      <option value="permanent">Permanent employment (full-time)</option>
                      <option value="internship">Internship (full-time)</option>
                      <option value="working_student">Working student (part-time)</option>
                      <option value="flexible">Flexible</option>
                  </select>
              </div>
          </section>
        </div>

        <!-- 6. What does your tech stack look like?  -->
        <div class="carousel-item">
          <section class="questions">
            <div class="sentence">What does your tech stack look like?</div>
            <p class="sub_sentence">Please sort your technical skills by how important it is to be included in your future job.</p>
            <label for="techstack4" class="sub_sub_sentence">Must be included in the job:</label>
            <div class="tag-container">
              <select multiple class="inputanswer" id="techstack4" type="text" name="techstack4" placeholder="...type here" data-role="tagsinput"></select>
            </div>
            <label for="techstack3" class="sub_sub_sentence">Preferably included, but not a must:</label>
            <div class="tag-container">
              <select multiple class="inputanswer" id="techstack3" type="text" name="techstack3" placeholder="...type here" data-role="tagsinput"></select>
            </div>
            <label for="techstack2" class="sub_sub_sentence">Can be included as you have experience in these:</label>
            <div class="tag-container">
              <select multiple class="inputanswer" id="techstack2" type="text" name="techstack2" placeholder="...type here" data-role="tagsinput"></select>
            </div>
            <label for="techstack1" class="sub_sub_sentence">Not much important or you only have little experience:</label>
            <div class="tag-container">
              <select multiple class="inputanswer" id="techstack1" type="text" name="techstack1" placeholder="...type here" data-role="tagsinput"></select>
            </div>
          </section>
        </div>

        <!-- 7. What are your soft skills? -->
        <div class="carousel-item">
          <section class="questions">
            <div class="sentence">What are your soft skills?</div>
            <div class="tag-container">
              <select multiple class="inputanswer" id="input_softskill" name="soft_skills" placeholder="...type here" data-role="tagsinput"></select>
            </div>
          </section>
        </div>

        <!-- 8. What are your other strengths or your goals that you want to share with the recruiters? -->
        <div class="carousel-item">
          <section class="questions">
            <div class="sentence">What are your other strengths or your goals that you want to share with the recruiters?</div>
            <div class="tag-container">
              <select multiple class="inputanswer" placeholder="...type here" name="other_aspects" data-role="tagsinput"></select>
            </div>
          </section>
        </div>

        <!-- 9. What is important to you when you work in a team regarding work culture? -->
        <div class="carousel-item">
          <section class="questions">
            <div class="sentence">What is important to you regarding work culture and benefits?</div>
            <p class="sub_sentence">Please sort your preferences by importance.</p>
            <label for="workculture4" class="sub_sub_sentence">Very important</label>
            <div class="tag-container">
              <select multiple class="inputanswer" id="workculture4" type="text" name="workculture4" placeholder="...type the aspects are the most important for you" data-role="tagsinput" ></select>
            </div>
            <label for="workculture3" class="sub_sub_sentence">Quite important</label>
            <div class="tag-container">
              <select multiple class="inputanswer" id="workculture3" type="text" name="workculture3" placeholder="...type the aspects are quite important to you" data-role="tagsinput" ></select>
            </div>
            <label for="workculture2" class="sub_sub_sentence">Somewhat important</label>
            <div class="tag-container">
              <select multiple class="inputanswer" id="workculture2" type="text" name="workculture2" placeholder="...type the aspects are somewhat important to you" data-role="tagsinput" ></select>
            </div>
            <label for="workculture1" class="sub_sub_sentence">Not much Important</label>
            <div class="tag-container">
              <select multiple class="inputanswer" id="workculture1" type="text" name="workculture1" placeholder="These aspects are a little bit important" data-role="tagsinput" ></select>
            </div>

          </section>
        </div>

        <!-- 10. What is your desired monthly salary? -->
        <div class="carousel-item">
          <section class="questions">
            <div class="sentence">What is your desired monthly salary?</div>
            <div>
              <input type="text" name="salary" placeholder="...type here">
            </div>
          </section>

            <div>
              <input type="submit" value="Submit" id="submit_candidate">
            </div>

        </div>

      </div>

    </div>

    <div class="carousel-controls questionnaires-carousel">
    <a class="carousel-control-prev" href="#candidate_questions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#candidate_questions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  </div>
</form>




<!--
  <label>Preferred position: </label>
  <input type="text" placeholder="Job you are looking for" name="preferred_position">
  <label>Soft skills: </label>
  <input type="text" placeholder="Soft skills" name="soft_skills">
  <label>Other aspects: </label>
  <input type="text" placeholder="Other aspects" name="other_aspects">
  <label>Work culture preferences</label>
  <input type="text" placeholder="Values, benefits..." name="work_culture_preferences">
  <input type="submit" value="Submit">
 -->
<!--Commented out because the function for adding candidate profile to User should be implemented.
  <label for="firstname">First name: </label>
  <input type="text" placeholder="First Name" name="firstname">
  <label for="lastname" >Last name: </label>
  <input type="text" placeholder="Last Name" name="lastname">
  <label for="email">Email</label>
  <input type="email" placeholder="Email" name="email">
  <input type="submit" value="Submit"> -->
