<form action="<%= `/user/${user._id}/add`%>" method="post">
  <h2>Create a new candidate profile</h2>
  <div class="container">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Preferred position</span>
      </div>
      <input type="text" class="form-control" placeholder="The job position you're looking for" name="preferred_position" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Soft Skills</span>
      </div>
      <input type="text" class="form-control" placeholder="Tell us all about your soft skills" name="soft_skills" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Other Aspects</span>
      </div>
      <input type="text" class="form-control" placeholder="Tell us more about your strengths and goals in life" name="other_aspects" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Work Culture Preferences</span>
      </div>
      <input type="text" class="form-control" placeholder="Tell us something about your desired team/company " name="work_culture_preferences" aria-describedby="basic-addon1">
    </div>
    <input type="submit" value="Submit">

  </div>

</form>

      <!--Commented out because the function for adding candidate profile to User should be implemented.

      <label for="firstname">First name: </label>
      <input type="text" placeholder="First Name" name="firstname">
      <label for="lastname" >Last name: </label>
      <input type="text" placeholder="Last Name" name="lastname">
      <label for="email">Email</label>
      <input type="email" placeholder="Email" name="email">
      <input type="submit" value="Submit"> -->


      <!-- <label> Preferred position: </label>
        <input type="text" placeholder="Job you are looking for" name="preferred_position">
        <label>Soft skills: </label>
        <input type="text" placeholder="Soft skills" name="soft_skills">
        <label>Other aspects: </label>
        <input type="text" placeholder="Other aspects" name="other_aspects">
        <label>Work culture preferences</label>
        <input type="text" placeholder="Values, benefits..." name="work_culture_preferences">
        <input type="submit" value="Submit"> -->
