<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Candidate data</title>
</head>

<body class="body">
    <h1>Candidate data</h1>
    <div>
        <div>
            <ul>
                    <b>Soft skills:</b> <%= candidate.soft_skills%> <br>
                    <b>Other aspects:</b> <%= candidate.other_aspects %> <br>
                    <b>Work culture preferences:</b> <%= candidate.work_culture_preferences %> <br>
                
            </ul>
        </div>
    </div>
</body>

</html>