<div class="text-center pt-4">

  <% let action = "/user/login";
  if (typeof redirect !== 'undefined') {
    action += "?redirect=" + redirect;
  } %>
  <form action="<%= action %>" method="post" class="form-login-signup">
    <img class="mb-4" src="/images/logo7-2.png" alt="" width="100" height="100">
    <h1 class="h3 mb-3 font-weight-normal"> Log In </h1>

    <input type="email" class="form-control top" name="email" placeholder="Email" required="" autofocus="">
    <input type="password" class="form-control bottom" name="password" placeholder="Password" required="">

    <button class="btn btn-lg btn-primary btn-block mx-0" type="submit">Log In</button>

  </form>
</div>