<h1 class="d-inline">User Profile</h1> <button>Edit</button>
<% if (user.role === 'candidate' && user.candidateProfile) { %>
    <%- include ('../candidates/showSingleCandidate') %>
<% } else if (user.role === 'recruiter' && user.jobOffers) { %>
    <p><b>Name:</b> <%= user.fullName %></p>
    <p><b>E-Mail:</b> <%= user.email %></p>
<% } %>