<div class="d-none d-lg-block">
  <div class="card-container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <%if(matches.length> 0) { %>
        <% for (let i=0; i < matches.length; i++) { let source=matches[i]._source %>
          <%- include('card.ejs', {title: source.job_title , description: parseFloat((matches[i]._score).toFixed(2)) , description_text:
            source.shortDescription,id: matches[i]._id}); %>
            <% } %>
              <% } else { %>
                <h1> Oops, No matches found for you yet :( </h1>
                <% } %>
    </div>
  </div>
</div>

<div class="d-block d-lg-none ">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <%if(matches.length > 0) { %>
        <% for (let i=0; i < matches.length; i++) { let activeCard=true; if(i==0){activeCard=true}
          else{activeCard=false} let source=matches[i]._source %>
          <%- include('carousel.ejs', {active:activeCard ,title: source.job_title , description: source.location ,
            description_text: source.shortDescription,id: matches[i]._id}); %>
            <% } %>
              <% } else { %>
                <h1> Oops, No matches found for you yet :( </h1>
              <% } %>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>