<% if (typeof onSearch === 'undefined') { onSearch = false; }
if (onSearch === false) { %>
<hr class="container">
<h1 class="personal-info mb-3">Matches for <%= user.name.firstname %></h1>
<p class="font-weight-light">
  <% if (user.role==='candidate' ) { %>
    If you want to see more offers, you can use our <a href="/search">search!</a>
    <% } else if (user.role==='recruiter' && typeof jobId !=='undefined' ) { %>
      If you want to see different matches, come back later or <a href="/jobs/<%= jobId %>/edit">edit your
        preferences</a>!
    <% } %>
</p>
<% } %>

<div class="card-container">
  <div class="row justify-content-center">
    <%let defineCompatibility = (percentage) => {
      switch (true) {
      case (percentage >= 90.0):
        return {label: "Great", level: "3"};
        break;
      case (percentage >= 80.0):
        return {label: "Great", level: "2"};  
        break;   
      case (percentage >= 70.0):
        return {label: "Great", level: "1"};  
        break; 
      case (percentage >= 60.0):
        return {label: "Good", level: "3"};  
        break;    
      case (percentage >= 50.0):
        return {label: "Good", level: "2"};  
        break; 
      case (percentage >= 40.0):
        return {label: "Good", level: "1"};  
        break; 
        case (percentage >= 30.0):
        return {label: "Fair", level: "3"};  
        break; 
      case (percentage >= 20.0):
        return {label: "Fair", level: "2"};  
        break; 
      case (percentage >= 10.0):
        return {label: "Fair", level: "1"};  
        break;
      case (percentage >= 0):
        compatibility = "Bad";
        break;
      default:
        compatibility = "N/A";
        break;
    }
  }
  if(matches.length> 0) { %>
      <% for (let i=0; i < matches.length; i++) { 
        let source=matches[i] %>
        <%- include('card.ejs', { source: source, score: defineCompatibility(source.compatibility), id: matches[i]._id, onSearch: onSearch }); %>
      <% } %>
    <% } else { %>
      <p class="h3 font-weight-light">No matches found for you yet :(</p>
  <% } %>
  </div>
</div>