<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../../public/stylesheets/matches.css">
</head>

<body>
  <div class="card-container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" >
        <div class="card border-success mb-3" style="max-width: 75%;">
          <div class="card-header bg-transparent border-success"></div>
          <div class="card-body text-success"  >
            <h5 class="card-title">Name of position</h5>
            <h6 class="card-subtitle mb-2 text-muted">Description</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis arcu et tortor tincidunt tempor. Vivamus ullamcorper risus at vulputate aliquet. Maecenas sit amet auctor libero. Duis porta, est eget porttitor feugiat, est nulla sollicitudin sapien, ut ornare urna lectus eget metus. Morbi dapibus sapien in odio tincidunt eleifend. Suspendisse potenti. Vestibulum augue lorem, pulvinar sit amet enim quis, lobortis gravida eros.

            </p>
            <a href="/matches/show" class="btn btn-primary">More...</a>
          </div>
          <div class="card-footer bg-transparent border-success"></div>
        </div>
      </div>

      <div class="col">
        <div class="card border-success mb-3" style="max-width: 75%;">
          <div class="card-header bg-transparent border-success"></div>
          <div class="card-body text-success">
            <h5 class="card-title">Name of position</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis arcu et tortor tincidunt tempor. Vivamus ullamcorper risus at vulputate aliquet. Maecenas sit amet auctor libero. Duis porta, est eget porttitor feugiat, est nulla sollicitudin sapien, ut ornare urna lectus eget metus. Morbi dapibus sapien in odio tincidunt eleifend. Suspendisse potenti. Vestibulum augue lorem, pulvinar sit amet enim quis, lobortis gravida eros.</p>
            <a href="/matches/show" class="btn btn-primary">More...</a>
          </div>
          <div class="card-footer bg-transparent border-success"></div>
        </div>
      </div>

      <div class="col">
        <div class="card border-success mb-3" style="max-width: 75%;">
          <div class="card-header bg-transparent border-success"></div>
          <div class="card-body text-success">
            <h5 class="card-title">Name of position</h5>
            <p class="card-text">Description of position and many more...</p>
            <a href="/matches/show" class="btn btn-primary">More...</a>
          </div>
          <div class="card-footer bg-transparent border-success"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>