#footer{
    background: darkslategray;
    color: white;
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    left: 0;
    text-align: center;
}

#header{
    background-color: darkslategray;
    display: flex;
    color: white;
    position: fixed;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    left: 0;
    text-align: center;
}

.headerItem{
    width: 25%;
    font-size: 1.5em;
}

#body{
    margin-top: 20%;
    text-align: center;
}

input{
    display: flex;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
}