#footer{
    background: #343a40; //take from bg-dark in bootstrap.css
    color: white;
    position: fixed;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    left: 0;
    text-align: center;
}

#header{
    background-color: #343a40;
    display: flex;
    color: white;
    position: fixed;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    left: 0;
    text-align: center;
}

.headerItem{
    color: white;
    width: 25%;
    font-size: 2.5em;
}

#body{
    margin-top: 20%;
    text-align: center;
}

input{
    display: flex;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
}
