section {
  font-family: 'Crimson Pro', serif;
  text-align: center;
}

section h1, section h2, section h3, section h4, section h5, section h6 {
  font-family: 'Crimson Pro', serif;
  margin: 20px;
}

/* Headings */

.big-heading {
  font-family: 'Crimson Pro', serif;
  font-size: 3rem;
  line-height: 1.5;

}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding:0;
}

/* Sections */

.colored-section {
  background-color: #3115A0;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Buttons */

.download-button {
  margin: 5% 2% 5% 3%;
  color: white !important;
}

.download-button:hover{
  color: #3115A0 !important;
}
/* Title Section */

#title {
  background-color: #3115A0;
  color: #fff;
  text-align: center;
}

#title .container-fluid {
  padding: 5% 12% 7%;
}

/* Title Image */

.title-image {
  width: 80%;
  border-radius: 100%;
  transform: rotate(0);
  margin-top: 10%;
}

/* Features Section */

#features {
  margin-top: 10%;
  margin-bottom:10%;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #3115A0;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #9AB3F5;
}

/* Testimonial Section */

#testimonials {
  background-color: #9AB3F5;
}
#testimonials .container-fluid{
  padding: 7% 15%;
}
.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
  margin: 20px;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Steps */

#steps {
  padding: 100px;
}
#steps .section-heading {
  font-family: 'Patrick Hand', cursive !important;
  color: #3115A0 !important;
}

.step-text {
  font-size: 3rem;
  line-height: 1.5;
}

.step-column {
  padding: 3% 2%;
}

/* Call To Action */
#cta{
 padding :5%;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
  }
}

/*Card, profile page*/
.card-header {
  background-color:#9AB3F5 !important;
  padding: 5px;
}

.card-header h3{
  font-family: 'Patrick Hand', cursive !important;
  color :#3115A0;
}
.card-body{
  text-align: center !important;
}
.card-body p{
  text-align: left ;
  padding-left: 20px;
  color: #8f8f8f;
}
.curr-location, .position-title{
  text-align: center !important;
}
