@media only screen and (min-width: 450px) {
    .profile-buttons {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 450px) {
    .profile-buttons {
        margin: 20px 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .profile-buttons button{
        margin-top: 5px;
    }
}

.fixed-width {
    width: 240px;
}


.message-btn {
    margin-top: 40px;
}

#edit-container {
    text-align: left !important;
    justify-content: center !important;
}

.personal-info {
    margin-bottom: 2.5rem;
    color: #7579E7 !important;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2rem;
}

.tag {
    background-color: #9ab3f5 !important;
    padding: 7px !important;
}
