/* Questionaires page */

#questionaires input[type=text] {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 12px 20px;
  color: black !important;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
  width: 100% !important;
  box-sizing: border-box;
  margin-top:15px;

}
#questionaires select{
  margin: 3% 0%;
  border:none;
}
section.questions {
  text-align: left;
  font-size: 1.5em;
  padding-top: 0;
  padding-left: 5%;
  margin: auto;
}

div.sentence{
  font-size: 1.5em;
}
div.sub_sentence{
  font-size: 1em;
  margin-top: 5%;
}
p.sub_sub_sentence{
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: 1em;
  color: black;
}
p.sub_sentence{
  color: #818181;
}

div.checkboxes{
  margin-top: 2%;
}
.container-fluid#questionaires{
  padding: 5% 15% 5%;
}

input[type=submit]#submit_candidate, input[type=submit]#submit_job {
  margin-top: 15%;
  font-size: 20px;
  border-radius: 10%;
  padding: 10px 10px;
  background-color: #9ab3f5
}
input[type=submit]#submit_candidate:hover, input[type=submit]#submit_job:hover {
  background-color: #7579e7 ;
}

/* Questions with tags */
.bootstrap-tagsinput{
  color: black !important;
  width: 100% !important;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  border:none;
  padding:none;
}
.bootstrap-tagsinput input{
  flex: 1;
  color: black !important;
  border:none;
  outline:none;
}

.bootstrap-tagsinput .tag{
  background-color: #f2f2ff;
  color: black;
  padding : 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px;
  display: inline-block;
  align-items: center;
  cursor : default;
}

/* Bootstrap Carousel */
.carousel-indicators{
  position: fixed;
}
.carousel-indicators li {
  background-color: #2b2eb9 !important;
  height: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.questionaires-carousel .carousel-control-prev, .questionaires-carousel .carousel-control-next  {
  position: fixed !important;
  background-color: none !important;
}

.questionaires-carousel .carousel-control-next-icon, .questionaires-carousel .carousel-control-prev-icon {
  width: 40px;
  height: 40px;
  background-color: #2b2eb9 !important;
  border-radius : 10%;
}

/* .tag-container{
  background-color: #FFF;
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  display:flex;
  color: black;
} */

/* .tag-container .tag{
  background-color: #f2f2ff;
  color: black;
  padding : 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px;
  display: inline-block;
  align-items: center;
  cursor : default;
} */

/* .tag i{
  font-size: 16px;
  margin-left: 5px;
} */

/* .tag-container input{
  flex: 1;
  font-size: 25px;
  padding: 12px 20px;
  outline: none;
  border:0;
} */
