/* Mark input boxes that gets an error on validation: */
#questionnaires input.invalid, #questionnaires textarea.invalid {
  background-color: #ffeeee;
}

/* Hide all steps by default: */
#questionnaires .tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
#questionnaires .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
#questionnaires .step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
#questionnaires .step.finish {
  background-color: #9AB3F5;
} 

/* questionnaires page */
#questionnaires input[type=text] {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 12px 20px;
  color: black !important;
  border-radius: 4px;
  cursor: text;
  width: 100% !important;
  margin-top:15px;

}

#questionnaires select{
  margin: 1.5rem 0;
  border:none;
}
#questionnaires section.questions {
  text-align: left;
  padding-top: 0;
  padding-left: 2rem;
  margin: auto;
}

#questionnaires div.sentence{
  font-size: 1.5rem;
}
#questionnaires div.sub_sentence{
  margin-top: 1.5rem;
}
#questionnaires label.sub_sub_sentence{
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  color: black;
}
#questionnaires p.sub_sentence{
  color: #818181;
}

#questionnaires div.checkboxes{
  margin-top: 1rem;
}

#questionnaires .form-control{
  color: black !important;
  margin: 1.5rem 0;
}

#questionnaires textarea.form-control::-webkit-input-placeholder {
  color: #a9a9a9;
}

/* Questions with tags */
.bootstrap-tagsinput{
  color: black !important;
  width: 100% !important;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  border:none;
  padding:none;
}
.bootstrap-tagsinput input{
  flex: 1;
  color: black !important;
  border:none;
  outline:none;
}

.bootstrap-tagsinput .tag{
  background-color: #f2f2ff;
  color: black;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px;
  display: inline-block;
  align-items: center;
  cursor: default;
}

/* .tag-container{
  background-color: #FFF;
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  display:flex;
  color: black;
} */

/* .tag-container .tag{
  background-color: #f2f2ff;
  color: black;
  padding : 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px;
  display: inline-block;
  align-items: center;
  cursor : default;
} */

/* .tag i{
  font-size: 16px;
  margin-left: 5px;
} */

/* .tag-container input{
  flex: 1;
  font-size: 25px;
  padding: 12px 20px;
  outline: none;
  border:0;
} */
