footer{
    background-color: #9AB3F5; //take from bg-dark in bootstrap.css
    color: white !important;
    position: fixed;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    left: 0;
    text-align: center;
}
footer p {
  color: white !important;
  font-size: 2rem !important;
}
header{
    background-color: #4D5B80;
    color: white;
    position: fixed;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    left: 0;
    text-align: center;
}

.headerItem{
    font-family: 'Abang', sans-serif;
    color: white;
    width: 25%;
    font-size: 3em;
}

main{
    margin-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}

input{
    display: flex;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
}

.btn-primary{
   color : white !important;
   font-weight: bold !important;
   background-color: #9AB3F5 !important;
   border-color: #9AB3F5 !important;
   margin: 0 0.50rem;
}

.nav-link {
  color: white !important;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 1rem;
}
/* styles for login */
/* .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
} */

body#form-login-signup {
  height: 100%;
}

body#form-login-signup {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-login-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-login-signup .checkbox {
  text-align: center;
  font-weight: 400;
}
.form-login-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-login-signup .form-control:focus {
  z-index: 2;
}
.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle {

}
.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
