

<% if (active) { %>
  <div class="carousel-item active">
<% } else { %>
  <div class="carousel-item">
<% } %>  

  <div class="col">
    <div class="card border-success mb-3 m-0 p-0 mh-100" >
      <div class="card-header bg-transparent border-success"></div>
      <div class="card-body text-success">
        <h5 class="card-title"><%= title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= description %></h6>
        <p class="card-text"><%= description_text %></p>
        <a href="/matches/candidate" class="btn btn-primary">More...</a>
      </div>
      <div class="card-footer bg-transparent border-success"></div>
    </div>
  </div>

</div>