<div class="container">
    <div class="main-body">
        <hr>
        <h1 class="job-offers font-weight-light">Your job offers</h1>
            <div class="d-none d-lg-block">
                <div class="card-container">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                <% jobs.forEach(job => { %>
                <%- include('card.ejs', {title: job.job_title, company: job.company_name, 
                    description: job.description, location: job.location, salary: job.salary, 
                    id: job._id}); %>
                    <% }); %>
            </div>
        </div>
    </div>

    <div class="d-block d-lg-none">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
             <% for (let i = 0; i < jobs.length; i++) { 
              let activeCard = true;
              if(i == 0){activeCard = true}
               else{activeCard = false} %>
            <%- include('carousel.ejs', {active:activeCard, title: jobs[i].job_title, company: jobs[i].company_name, 
                description: jobs[i].description, location: jobs[i].location, salary: jobs[i].salary, 
                id: jobs[i]._id}); %>
              <% } %>
             
      
          </div>
       
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    
</div>
</div>