<div class="row justify-content-center">
  <div class="col-lg-8 col-12">
<% if (!loggedIn) { %>
  <form action="/signup/recruiter" method="post" id="questionnaires" class="p-lg-4">
    <% } else { %>
      <form action="<%=`/user/${user._id}/add-job`%>" method="post" id="questionnaires" class="p-lg-4">
        <% } %>

          <!-- 1. What is the job title? -->
          <div class="tab">
            <section class="questions">
              <div class="sentence">What is the job title?</div>
              <div>
                <input type="text" name="job_title" placeholder="...type here">
              </div>
            </section>
          </div>

          <!-- 2. What is the company name? -->
          <div class="tab">
            <section class="questions">
              <div class="sentence">What is the company name?</div>
              <div>
                <input type="text" name="company_name" placeholder="...type here">
              </div>
            </section>
          </div>

          <!-- 3. What is the location of the company? -->
          <div class="tab">
            <section class="questions">
              <div class="sentence">What is the location of the company?</div>
              <div>
                <input type="text" name="location" placeholder="...type here">
              </div>
              <div class="ml-4">
                <input type="checkbox" name="remote" class="form-check-input" id="remote" value="remote">
                <label for="remote" class="form-check-label">This job offers remote work.</label>
              </div>
            </section>
          </div>

          <!-- 4. What type of contract are you offering? -->
          <div class="tab">
            <section class="questions">
              <div class="sentence">What type of contract are you offering?</div>
              <div>
                <select name="job_type">
                  <option value="Permanent">Permanent employment (full-time)</option>
                  <option value="Internship">Internship (full-time)</option>
                  <option value="Working-Student">Working student (part-time)</option>
                  <option value="Flexible">Flexible</option>
                </select>
              </div>
            </section>
          </div>

          <!-- 5. What is the company expecting to pay? -->
          <div class="tab">
            <section class="questions">
              <div class="sentence">What is the company expecting to pay?</div>
              <div>
                <input type="text" name="salary" placeholder="...type here">
              </div>
            </section>
          </div>

          <!-- 6. What tech-stack do you expect from the employee -->
          <div class="tab">
            <section class="questions">
              <div class="sentence">What tech-stack do you expect from the employee?</div>
              <p class="sub_sentence">Please sort the expected tech stack by proficiency.</p>

              <label for="techstack3" class="sub_sub_sentence">Proficient knowledge:</label>
              <div class="tag-container">
                <select multiple class="inputanswer" id="techstack3" type="text" name="techstack3"
                  placeholder="...type here" data-role="tagsinput"></select>
              </div>
              <label class="sub_sub_sentence">Intermediate:</label>
              <div class="tag-container">
                <select multiple class="inputanswer" id="techstack2" type="text" name="techstack2"
                  placeholder="...type here" data-role="tagsinput"></select>
              </div>
              <label class="sub_sub_sentence">Beginner (not mandatory but good to know):</label>
              <div class="tag-container">
                <select multiple class="inputanswer" id="techstack1" type="text" name="techstack1"
                  placeholder="...type here" data-role="tagsinput"></select>
              </div>
            </section>
          </div>

          <!-- 7. Which soft skills are essential for the job? -->
          <div class="tab">
            <section class="questions">
              <div class="sentence">Which soft skills are essential for the job?</div>
              <p class="sub_sentence">Please sort your preferences by importance.</p>

              <label for="softskill3" class="sub_sub_sentence">Most important:</label>
              <div class="tag-container">
                <select multiple class="inputanswer" id="softskill3" type="text" name="softskill3"
                  placeholder="...type here" data-role="tagsinput"></select>
              </div>
              <label for="softskill2" class="sub_sub_sentence">Quite important:</label>
              <div class="tag-container">
                <select multiple class="inputanswer" id="softskill2" type="text" name="softskill2"
                  placeholder="...type here" data-role="tagsinput"></select>
              </div>
              <label for="softskill1" class="sub_sub_sentence">Somewhat important:</label>
              <div class="tag-container">
                <select multiple class="inputanswer" id="softskill1" type="text" name="softskill1"
                  placeholder="...type here" data-role="tagsinput"></select>
              </div>
            </section>
          </div>

          <!-- 8. What will be the detailed tasks of the employee? -->
          <div class="tab">
            <section class="questions">
              <div class="sentence">What will be the detailed tasks of the employee?</div>
              <div>
                <textarea class="form-control" name="description" placeholder="...type here" rows="6"></textarea>
              </div>
            </section>
          </div>

          <!-- 9. Do you offer any of these options? -->
          <div class="tab">
            <section class="questions">
              <div class="sentence">What benefits or work-related extras do you offer?</div>

              <div class="checkboxes">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="annual_bonus" id="annual_bonus" name="extras">
                  <label class="form-check-label" for="annual_bonus">Annual bonus potential</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="social_events" id="social_events"
                    name="extras">
                  <label class="form-check-label" for="social_events">Social events</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="pto" id="pto" name="extras">
                  <label class="form-check-label" for="pto">Training programs/Workshops</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="flexible_schedule" id="flexible_schedule"
                    name="extras">
                  <label class="form-check-label" for="flexible_schedule">Flexible schedule</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="free_food/drink" id="free_food/drink"
                    name="extras">
                  <label class="form-check-label" for="free_food/drink">Free Food/Drinks</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="fitness_wellness" id="fitness_wellness"
                    name="extras">
                  <label class="form-check-label" for="fitness_wellness">Onsite Fitness and Wellness Centers</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="special_pricing" id="special_pricing"
                    name="extras">
                  <label class="form-check-label" for="special_pricing">Special pricing on company’s products</label>
                </div>
              </div>

              <div>
                <select multiple class="inputanswer" id="input_workculture" type="text" name="work_culture_keywords"
                  placeholder="Other..." data-role="tagsinput" value=""></select>
              </div>
              
            </section>
          </div>
          <div>
            <div class="float-right">
              <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn btn-outline-primary">« Previous</button>
              <button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn btn-primary">Next »</button>
            </div>
          </div>
    
          <!-- Circles which indicates the steps of the form: -->
          <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
          </div>
      </form>
    </div>
  </div>