<form action="/jobs/create" method="post">
  
    <label for="job_title">Job Title: </label>
    <input type="text" placeholder="Job Title" name="job_title" required>
    <label for="location" >Job Location: </label>
    <input type="text" placeholder="Job Location" name="location">
    <label for="company_name" >Company: </label>
    <input type="text" placeholder="Company Name" name="company_name">
    <!-- <label for="zipcode" >Zip Code: </label>
    <input type="text" placeholder="Zip Code" name="zip_code"> -->
    <label for="salary">Salary: </label>
    <input type="text" placeholder="Salary" name="salary">
    <label for="description">Description: </label>
    <input type="text" placeholder="Job Description" name="description">
    <input type="submit" value="Submit">

</form>
