<form action="<%= `/user/${user._id}/add_job`%>" method="post">

    <div class="container-fluid" id= "questionaires">
        <h2> Create a new job offer </h2>

    <section class = "questions">
        <div>What is the job title? </div>
        <div>
            <input type="text" name="job_title" required>
        </div>
    </section>

    <section class = "questions">
        <div>What is the company name? </div>
        <div>
            <input type="text" name="company_name">
        </div>
    </section>

    <section class = "questions">
        <div>What is the location of the company? </div>
        <div>
            <input type="text" name="location">
        </div>
    </section>

    <section class = "questions">
        <div>What type of contract are you offering? </div>
        <div>
            <select name="job_type">
                <option value="permanent">Permanent employment (full-time)</option>
                <option value="internship">Internship (full-time)</option>
                <option value="working_student">Working student (part-time)</option>
                <option value="flexible">Flexible</option>
            </select>
        </div>
    </section>

    <section class = "questions">
        <div>What is the company expecting to pay? </div>
        <div>
            <input type="text" name="salary">
        </div>
    </section>

    <section class = "questions">
        <div>What hard job-specific skills do you expect from the employee? </div>
        <div>
            <input type="text" name="hard_skills">
        </div>
    </section>

    <section class = "questions">
        <div>Which soft skills are essential for the job? </div>
        <div>
            <input type="text" name="soft_skills">
        </div>
    </section>

    <section class = "questions">
        <div>What kind of person are you looking for? <br>
            <p>(Who will fit in your team? What is important for you/the company/the team?)</p>
             </div>
        <div>
            <input type="text" name="other_aspects">
        </div>
    </section>

    <section class = "questions">
        <div>What will be the detailed tasks of the employee? </div>
        <div>
            <input type="text" name="description">
        </div>
    </section>

    <section class = "questions">
        <div>Do you offer any of these options? </div>
        <div>
            <input type="text" name="work_culture_keywords">
        </div>
    </section>
    <div>
        <input type="submit" value="Submit">
    </div>

    </div>
=======
<form action="/jobs/create" method="post">

    <div class="container-fluid">
        <h2> Create your new profile </h2>

    <section class = "questions">
        <div>What is the job title? </div>
        <div>
            <input type="text" name="job_title" required>
        </div>
    </section>

    <section class = "questions">
        <div>What is the company name? </div>
        <div>
            <input type="text" name="company_name">
        </div>
    </section>

    <section class = "questions">
        <div>What is the location of the company? </div>
        <div>
            <input type="text" name="location">
        </div>
    </section>

    <section class = "questions">
        <div>What type of contract are you offering? </div>
        <div>
            <input type="text" name="job_type">
        </div>
    </section>

    <section class = "questions">
        <div>What is the company expecting to pay? </div>
        <div>
            <input type="text" name="salary">
        </div>
    </section>

    <section class = "questions">
        <div>What hard job-specific skills do you expect from the employee? </div>
        <div>
            <input type="text" name="hard_skills">
        </div>
    </section>

    <section class = "questions">
        <div>Which soft skills are essential for the job? </div>
        <div>
            <input type="text" name="soft_skills">
        </div>
    </section>

    <section class = "questions">
        <div>What kind of person are you looking for? </div>
        <div>
            <input type="text" name="other_aspects">
        </div>
    </section>

    <section class = "questions">
        <div>What will be the detailed tasks of the employee? </div>
        <div>
            <input type="text" name="description">
        </div>
    </section>

    <section class = "questions">
        <div>Do you offer any of these options? </div>
        <div>
            <input type="text" name="work_culture_keywords">
        </div>
    </section>
    <div>
        <input type="submit" value="Submit">
    </div>

    </div>
>>>>>>> 431e95b (Added job questions)
</form>
